# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Database
*.db
*.db-journal

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db 

#CSV
student_credentials.csv
CSV.csv 